.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #e9eef2;
}
body {
  font-family: Roboto Flex;
}
.display-1 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 4rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 5rem;
}
.display-4 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 1.75rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (2.05rem + (4 - 2.05) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #80ed99 !important;
}
.bg-success {
  background-color: #5ae0a2 !important;
}
.bg-info {
  background-color: #45d7f5 !important;
}
.bg-warning {
  background-color: #ffce3b !important;
}
.bg-danger {
  background-color: #e25865 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #80ed99 !important;
  border-color: #80ed99 !important;
  color: #0e6021 !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #adf3bd !important;
  border-color: #adf3bd !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #0e6021 !important;
  background-color: #adf3bd !important;
  border-color: #adf3bd !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #57cc99 !important;
  border-color: #57cc99 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #7ed8b1 !important;
  border-color: #7ed8b1 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #7ed8b1 !important;
  border-color: #7ed8b1 !important;
}
.btn-info,
.btn-info:active {
  background-color: #45d7f5 !important;
  border-color: #45d7f5 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #75e1f8 !important;
  border-color: #75e1f8 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #75e1f8 !important;
  border-color: #75e1f8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #5ae0a2 !important;
  border-color: #5ae0a2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #85e8ba !important;
  border-color: #85e8ba !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #85e8ba !important;
  border-color: #85e8ba !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffce3b !important;
  border-color: #ffce3b !important;
  color: #3b2c00 !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffdb6e !important;
  border-color: #ffdb6e !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #3b2c00 !important;
  background-color: #ffdb6e !important;
  border-color: #ffdb6e !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #e25865 !important;
  border-color: #e25865 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ea838d !important;
  border-color: #ea838d !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ea838d !important;
  border-color: #ea838d !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #80ed99;
  color: #80ed99;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #34e25c !important;
  background-color: transparent !important;
  border-color: #34e25c !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #0e6021 !important;
  background-color: #80ed99 !important;
  border-color: #80ed99 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #57cc99;
  color: #57cc99;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #309d6d !important;
  background-color: transparent !important;
  border-color: #309d6d !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #57cc99 !important;
  border-color: #57cc99 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #45d7f5;
  color: #45d7f5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #0cb5d8 !important;
  background-color: transparent !important;
  border-color: #0cb5d8 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #45d7f5 !important;
  border-color: #45d7f5 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #5ae0a2;
  color: #5ae0a2;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #24bf77 !important;
  background-color: transparent !important;
  border-color: #24bf77 !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #5ae0a2 !important;
  border-color: #5ae0a2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffce3b;
  color: #ffce3b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #e3aa00 !important;
  background-color: transparent !important;
  border-color: #e3aa00 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #3b2c00 !important;
  background-color: #ffce3b !important;
  border-color: #ffce3b !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #e25865;
  color: #e25865;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c22231 !important;
  background-color: transparent !important;
  border-color: #c22231 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e25865 !important;
  border-color: #e25865 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #80ed99 !important;
}
.text-secondary {
  color: #57cc99 !important;
}
.text-success {
  color: #5ae0a2 !important;
}
.text-info {
  color: #45d7f5 !important;
}
.text-warning {
  color: #ffce3b !important;
}
.text-danger {
  color: #e25865 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #27e051 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #2c9165 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #22b26f !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #0ba9c9 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #d49f00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #b51f2d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #80ed99;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #45d7f5;
}
.alert-warning {
  background-color: #ffce3b;
}
.alert-danger {
  background-color: #e25865;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #80ed99;
  border-color: #80ed99;
  color: #117728;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #80ed99;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 1.75rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #80ed99 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto Flex', sans-serif;
  font-size: 1.4rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.75rem;
}
blockquote {
  border-color: #80ed99;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #80ed99;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #80ed99;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #80ed99;
  border-bottom-color: #80ed99;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #80ed99 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #57cc99 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2380ed99' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-ugJKq22fv7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-ugJKq22fv7 .content-text {
  max-width: 800px;
}
.cid-ugJKq22fv7 .mbr-section-title {
  color: #f7f7f7;
}
.cid-ugJKq22fv7 .mbr-text,
.cid-ugJKq22fv7 .mbr-section-btn {
  color: #f7f7f7;
}
.cid-ugFORVoFB6 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-ugFORVoFB6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugFORVoFB6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugFORVoFB6 .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-ugFORVoFB6 .card {
    margin-bottom: 2rem!important;
  }
  .cid-ugFORVoFB6 .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-ugFORVoFB6 .link-wrap {
    align-items: center;
  }
}
.cid-ugFORVoFB6 .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-ugFORVoFB6 .card-title,
.cid-ugFORVoFB6 .card-box {
  color: #f7f7f7;
}
.cid-ugJJuPzxWQ {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-ugJJuPzxWQ .video-wrapper iframe {
  width: 100%;
}
.cid-ugJJuPzxWQ .mbr-section-title,
.cid-ugJJuPzxWQ .mbr-section-subtitle,
.cid-ugJJuPzxWQ .mbr-text {
  text-align: center;
}
.cid-ugJJuPzxWQ .mbr-section-title {
  color: #f7f7f7;
}
.cid-ugFihprMPC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #232323;
}
.cid-ugFihprMPC .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugFihprMPC .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.cid-ugFihprMPC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugFihprMPC .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: #d70081;
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-ugFihprMPC .card-title,
.cid-ugFihprMPC .iconfont-wrapper,
.cid-ugFihprMPC .card-text {
  color: #000000;
  text-align: center;
}
.cid-ugFihprMPC .content-head {
  max-width: 800px;
}
.cid-ugFihprMPC .mbr-section-title {
  color: #000000;
}
.cid-ugFihprMPC .mbr-section-btn {
  text-align: center;
}
.cid-ugFihprMPC .card-title,
.cid-ugFihprMPC .iconfont-wrapper {
  color: #f7f7f7;
  text-align: center;
}
.cid-ugFihprMPC .card-text,
.cid-ugFihprMPC .mbr-section-btn {
  color: #f92c50;
}
.cid-ugFihpruxi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-ugFihpruxi .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugFihpruxi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugFihpruxi .card-wrapper {
  background: #232323;
}
@media (max-width: 767px) {
  .cid-ugFihpruxi .card-wrapper {
    padding: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-ugFihpruxi .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-ugFihpruxi .card-wrapper {
    padding: 4rem;
  }
}
.cid-ugFihpruxi .mbr-text,
.cid-ugFihpruxi .mbr-section-btn {
  color: #FFFFFF;
}
.cid-ugFihpruxi .card-title,
.cid-ugFihpruxi .card-box {
  text-align: center;
  color: #FFFFFF;
}
.cid-ugFihpsbsN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #232323;
}
.cid-ugFihpsbsN .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-ugFihpsbsN img,
.cid-ugFihpsbsN .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-ugFihpsbsN .item:focus,
.cid-ugFihpsbsN span:focus {
  outline: none;
}
.cid-ugFihpsbsN .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-ugFihpsbsN .item {
    margin-bottom: 1rem;
  }
}
.cid-ugFihpsbsN .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-ugFihpsbsN .mbr-section-title {
  color: #f7f7f7;
}
.cid-ugFihpsbsN .mbr-text,
.cid-ugFihpsbsN .mbr-section-btn {
  color: #f7f7f7;
}
.cid-ugFihpsbsN .item-title {
  color: #f7f7f7;
}
.cid-ugFihpsbsN .content-head {
  max-width: 800px;
}
.cid-ugFihpsw9J {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #232323;
}
.cid-ugFihpsw9J .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugFihpsw9J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-ugFihpsw9J .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-ugFihpsw9J .row {
  flex-direction: row-reverse;
}
.cid-ugFihpsw9J .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-ugFihpsw9J .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-ugFihpsw9J .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-ugFihpsw9J .mbr-section-title {
  color: #f7f7f7;
}
.cid-ugFihpsw9J .mbr-text,
.cid-ugFihpsw9J .mbr-section-btn {
  color: #f7f7f7;
}
.cid-ugFihptpxF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #232323;
}
.cid-ugFihptpxF .mbr-iconfont {
  font-size: 1.2rem !important;
  font-family: 'Moririse2' !important;
  color: white;
  transition: all 0.3s;
  transform: rotate(180deg);
  padding-left: 0.5rem;
}
.cid-ugFihptpxF .panel-group {
  border: none;
}
.cid-ugFihptpxF .card-header {
  padding: 0rem;
}
@media (max-width: 767px) {
  .cid-ugFihptpxF .card-header {
    padding: 0rem;
  }
}
.cid-ugFihptpxF .panel-body {
  padding: 0rem;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
}
.cid-ugFihptpxF .img-col {
  padding: 0;
}
.cid-ugFihptpxF .img-item {
  height: 100%;
}
.cid-ugFihptpxF img {
  height: 100%;
  object-fit: cover;
}
.cid-ugFihptpxF .collapsed span {
  transform: rotate(0deg);
}
.cid-ugFihptpxF .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-ugFihptpxF p {
  margin-bottom: 0.3rem;
}
.cid-ugFihptpxF .panel-title-edit {
  color: #000000;
}
.cid-ugFihptpxF .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
  border: 0;
  border-radius: 2rem;
}
.cid-ugFihptpxF .card {
  background: #ffffff;
  padding: 2.25rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-ugFihptpxF .card {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-ugFihptpxF .card {
    margin-bottom: 1rem;
    padding: 2rem 1.5rem;
  }
}
.cid-ugFihptpxF .panel-text {
  color: #000000;
}
.cid-ugFihptpxF .mbr-section-title {
  text-align: center;
  color: #f7f7f7;
}
.cid-ugFihptpxF .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
.cid-ugFihptpxF .panel-title-edit,
.cid-ugFihptpxF .mbr-iconfont {
  color: #000000;
}
.cid-ugJIJJlFa4 {
  display: flex;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-ugJIJJlFa4 .mbr-overlay {
  background-color: #232323;
  opacity: 1;
}
.cid-ugJIJJlFa4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-ugJIJJlFa4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-ugJIJJlFa4 .content-wrap {
  padding: 5rem 1rem;
}
@media (min-width: 992px) {
  .cid-ugJIJJlFa4 .content-wrap {
    padding: 5rem 3rem;
  }
}
@media (min-width: 768px) {
  .cid-ugJIJJlFa4 {
    align-items: center;
  }
  .cid-ugJIJJlFa4 .row {
    justify-content: center;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-ugJIJJlFa4 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-ugJIJJlFa4 {
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-ugJIJJlFa4 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-ugJIJJlFa4 .content-wrap {
    width: 100%;
  }
}
.cid-ugJIJJlFa4 .mbr-section-title {
  text-align: center;
}
.cid-ugJIJJlFa4 .mbr-text,
.cid-ugJIJJlFa4 .mbr-section-btn {
  text-align: center;
}
